// @import 'nib'

max-content-width = 1000px
space = 0.3em

// Note: many color picker values are hard-coded.
// Branding and identity colors should reside in variables.
// I'm aware of the issue, but because of time constrains they are hard coded for now.

html, body
  font-family Arial, sans-serif
  margin 0
  padding 0
  font-size 24px
  color rgb(51, 51, 51)
  background-image url('../img/bg.png')
  background-repeat repeat

header
  background-color rgb(44, 44, 44)
  color rgb(119, 119, 119)
  border-top 0.3em solid rgb(163, 0, 3)

  h1
    font-size 1.3rem
    font-weight normal

h2
  font-size 2.3rem
  margin 1.6em 0 0 0

button,
select
  background-color rgb(66, 139, 202)
  border 1px solid rgb(53, 126, 189)
  padding space
  border-radius 5px
  font-size inherit
  color white

  &:active
    background-color rgb(48, 113, 169)
    box-shadow inset 0.3em black
    border-color rgb(40, 94, 142)

  &:focus
    outline none

pre
  margin 0

.well
  background-color rgb(247, 247, 249)
  border 1px solid rgb(225, 225, 232)
  border-radius 0.2em
  padding 0.5em
  margin-top 0.6em
  margin-bottom 0.6em
  overflow scroll

.content
  max-width max-content-width
  margin auto
  padding 1em
